body {
  background: #808080;
  color: white;
  margin: 0px;
}
header {
  diasplay: flex;
  background: black;
  color: white;
}
main {
  diasplay: flex;
  background: white;
  color: 48464d;
  margin: 50px;
}
