body {
  background: #808080;
  color: white;
  margin: 0px;
}
a {
  color: #9966ff;
}
header {
  diasplay: flex;
  background: black;
  color: white;
}
main {
  diasplay: flex;
  background: white;
  color: 48464d;
  margin: 50px;
}
div {
  text-align: center;
}
footer {
  background: black;
  color: white;
  display: flex;
}
#menu {
  display: flex;
  background: black;
  color: white;
  text-align: center;
}
